[submodule "components/nmea"]
	path = components/nmea
	url = https://github.com/igrr/libnmea-esp32.git
[submodule "components/gui/lvgl"]
	path = components/gui/lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
	branch = release/v3.0
